
body{font-family:CNN,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif;margin:0px;}
#wrapper{display:block;width:100%;max-width:1100px;margin:0 auto;}
div#header{width:100%;height:60px;position:fixed;top:0;max-width:1100px;z-index: 1000000; margin:0px;!important}
nav{background:#153a53;height:60px;width:100%; margin:0px;!important}
#menu-right{float:right;margin-right:20px;display:inline-block;margin-top:10px;font-size:30px;color:grey;cursor:pointer; margin:0px;!important}
h1{margin-top:80px; padding:2px;}
.h1-red{color:red;}
#content{display:flex; padding:10px;}
#left-col{width:100%;flex:2;}
#right-col{width:100%;max-width:320px;flex:1;margin-left:10px;}
#image-header img{width:100%;height:auto;}


.specialBox {
    background: rgba(0, 0, 0, 0) url("rt-BG.jpg") repeat-y scroll 0 0;
    box-shadow: 0 0 4px #c3c3c3;
    margin: 30px 0;
    padding: 8px;
}

.specialTitle, .specialTitle3 {
    background: rgba(0, 0, 0, 0) url("bg_line.jpg") repeat scroll 0 0;
    color: #df0a0b;
    display: block;
    font-family: helBoldCond,Helvetica,sans-serif;
    font-size: 2em;
    margin: -42px 0 0;
    padding: 4% 1% 1%;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px #fff;
    text-transform: uppercase;
    z-index: 20;
}
.specialTitle3 {
    font-size: 1.45em;
}
.txtBlk {
    color: #000;
}

.popular li {
    border-bottom: 2px solid #eee;
    clear: both;
    list-style: outside none none;
    margin: 0;
    padding: 3px 0 6px;
}

.testimonial {
    background-color: #fdffec;
    color: #606060;
    display: block;
    font-family: "Open Sans",Helvetica,sans-serif;
    font-size: 1em;
    font-style: italic;
    font-weight: 300;
    line-height: 1.3em;
}


.commentlist {
    list-style: outside none none;
}


.commentlist li {
    border-top: 1px dashed rgba(159, 159, 159, 0.2);
    clear: both;
    margin: 0 0 1px;
    overflow: hidden;
    padding-top: 5px;
}


.commentlist img {
    float: left;
    width: 60px !important;
    height: 60px !important;
    margin: 0 5px 5px 0;
}

ol, ul {
    line-height: 140%;
    margin: 1em 0 1.4em 24px;
    padding: 0;
}


.commentlist .comment-text {
    overflow: hidden;
    position: relative;
}

.commentlist cite {
    color: #0070cc;
    font-family: "Open Sans",sans-serif;
    font-size: 0.9em;
    font-weight: 400;
}


.comment-date {
    color: #888;
    display: block;
    font: 300 0.8em/105% "Open Sans",Helvetica,sans-serif;
    position: absolute;
    right: 0;
    top: 0;
}


.commentlist .comment-text {
    overflow: hidden;
    position: relative;
}

.commentBox {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #404040;
    font-family: "Open Sans",sans-serif;
    font-size: 0.5em;
    height: 110px;
    padding: 2px 3px;
    resize: vertical;
    width: 99%;
}

.btn-lg
{
	-webkit-appearance: none;
}

.m-footer-nav, .m-footer-nav a { font-size: 12px; font-weight: 700; }
.l-footer { background-color: rgb(12, 12, 12); padding: 30px 0px; }
.l-footer__content { margin: 20px 20px auto; max-width: 1100px; }
.l-footer__tools { padding: 0px 20px; }
.l-footer__search { padding-left: 0px; position: relative; }
.m-footer-nav { color: rgb(89, 89, 89); font-size: 0.75rem; }
.m-footer-nav a { color: rgb(89, 89, 89); font-size: 0.75rem; }
.m-footer-nav .m-footer__link { color: rgb(191, 191, 191); font-weight: 400; font-size: 0.6875rem; }
.m-footer-nav .m-footer__link:hover { color: rgb(204, 0, 0); }
.m-footer__bucket { display: inline-block; float: left; list-style-type: none; margin: 0px auto; padding: 0px; text-align: left; vertical-align: top; width: 100%; }
.m-footer__bucket ol { padding: 0px; }
.m-footer__list-item { display: none; list-style-type: none; margin: 0px; padding: 12px 0px 0px; text-transform: uppercase; width: 100%; }
.m-footer__title .m-footer__title__link { background-color: rgb(26, 26, 26); border-top: 1px solid rgb(0, 0, 0); color: rgb(254, 254, 254); display: block; font-weight: 700; padding: 10px 0px 10px 10px; text-transform: uppercase; font-size: 0.875rem; }
.m-footer__title .m-footer__title__link:hover { color: rgb(204, 0, 0); }
.m-copyright-outercontainer { margin: 20px auto 0px; text-align: left; }
.m-copyright-outercontainer::after { clear: both; display: table; }
.m-copyright-innercontainer { display: inline-block; overflow: hidden; }
.m-copyright { display: block; margin-bottom: 20px; }
.blog-copyright ul li:last-child::after, .nav .menu-collapse .hamburger::after, .nav .menu-collapse .hamburger::before { content: ""; }

.search__footer .search-input__button, .search__footer .search-input__text { border: medium none; outline: 0px none; position: relative; }
.search__footer .search-input__text { background-color: rgb(38, 38, 38); color: rgb(230, 230, 230); min-height: 40px; padding: 12px 45px 10px 12px; width: 100%; font-family: CNN,"Helvetica Neue",Helvetica,Arial,Utkal,sans-serif; font-weight: 400; font-size: 1rem; line-height: 1; }
.search__footer .search-input__text:-moz-placeholder { font-style: italic; }
.search__footer .search-input__text::-moz-placeholder { font-style: italic; }
.search__footer .search-input__button { background-color: rgb(38, 38, 38); margin: 0px; padding: 0px 10px; position: absolute; right: 0px; }
.search__footer .search-input__button::after { color: rgb(166, 166, 166); font-size: 1em; line-height: 40px; position: relative; width: 20px; content: ""; font-family: cnn-icons; }
.search__footer .search__footer--form { display: block; height: 40px; position: relative; }

@media all and (max-width:1000px{
#content{display:block}
}
