body, html
{
    height:100%;
    padding:0;
    margin:0;
}
td
{
    white-space: nowrap;
}

table.table-no-wrap td
{
    white-space: nowrap;
}

fieldset>table tr>td:first-child {
    padding-left:20px;
}


